/build/**
/compiled/**
/coverage/**
/node_modules/**
package-lock.json
src/serviceWorker.js
src/setupTests.js
npm-cache/
/docs
/dist
/lib
lint-staged.config.js
src/__tests__
/utils
public/versions.json