.vscode
build/**
coverage/**
node_modules/**
public/**
src/**
utils/**
.eslintignore                                  
.gitignore
.npmignore
.npmrc
componentBuild.config.js
.github/**
.git
Jenkinsfile
docs/**

lint-staged.config.js


*.tgz
.DS_Store


package-lock.json

TODO
README.md