div[data-sort-dropdown] {
  display: none;
}


div[data-sort-responsive-list-always-show] {
  display: block !important; /* This is only used for testing */
}

table[data-sort-responsive-has-list-always-hide] {
  display: none !important;
}

div[data-sort-responsive-list] {
  width: 100%;
  padding: 10px;
}
div[data-sort-responsive-list] dt {
  display: block;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}
div[data-sort-responsive-list] dt,
div[data-sort-responsive-list] dd {
  font-size: 0.8em;
}

div[data-sort-responsive-list] dd {
  text-align: right;
  border-bottom: 1px solid #ddd;
  min-height: 1.6em;
  margin-bottom: 0.625em;
}
div[data-sort-responsive-list] dl {
  border-bottom: 3px solid #ddd;
}
div[data-sort-responsive-list] dl dt:first-child {
  position: absolute;
  left: -999999px;
}
div[data-sort-responsive-list] dl dd:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
div[data-sort-responsive-list] dl dd:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 700px) {
  /* table[data-sort-responsive-has-list] {
    display: none;
  }
  div[data-sort-responsive-list] {
    display: block;
  } */
  div[data-sort-dropdown] {
    display: flex;
  }
}
