table[data-sort-responsive] td span[data-responsive-header] {
  display: none;
}
div[data-sort-dropdown] {
  display: none;
}

@media screen and (max-width: 700px) {
  table[data-sort-responsive] {
    border: 0;
  }

  table[data-sort-responsive] caption {
    font-size: 1.3em;
    caption-side: top;
  }

  table[data-sort-responsive] thead {
    left: -9999999px;
    position: absolute;
  }

  table[data-sort-responsive] td span[data-responsive-header] {
    display: block;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table[data-sort-responsive] tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table[data-sort-responsive] td,
  table[data-sort-responsive] th {
    border-bottom: 1px solid #ddd;
    display: block;
    min-height: 2em;
  }

  table[data-sort-responsive] td {
    font-size: 0.8em;
    text-align: right;
  }

  table[data-sort-responsive] th {
    font-size: 1.2em;
  }
  div[data-sort-dropdown] {
    display: flex;
  }
}
